[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coverage = "*"
email-validator = "*"
gunicorn = "*"
alembic = "*"
appdirs = "*"
attrs = "*"
blinker = "*"
certifi = "*"
chardet = "*"
honcho = "*"
idna = "*"
itsdangerous = "2.0.1"
jsmin = "*"
jsonpickle = "*"
pipupgrade = "*"
pyparsing = "*"
python-dateutil = "*"
python-editor = "*"
raygun4py = "*"
redis = "*"
requests = "2.26.0"
rq = "*"
six = "*"
text-unidecode = "*"
urllib3 = "*"
webassets = "2.0"
psycopg2-binary = "*"
WTForms = "*"
Flask-Bootstrap = "*"
Flask-Testing = "*"
Flask-DebugToolbar = "*"
Flask-Migrate = "3.1.0"
Flask = "2.0.2"
Flask-Bcrypt = "0.7.1"
Flask-Login = "0.5.0"
Flask-SQLAlchemy = "2.5.1"
Flask-WTF = "*"
Flask-Admin = "1.5.8"
Faker = "*"
Flask-Assets = "*"
Flask-Compress = "1.10.1"
Flask-Mail = "*"
Flask-RQ = "*"
Flask-Script = "2.0.6"
Flask-SSLify = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
SQLAlchemy = "1.4.26"
Werkzeug = "2.0.2"
click = "*"
importlib-metadata = "*"
python-dotenv = "*"
pyodbc = "*"

[requires]
python_version = "3.7"
