[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coverage = "*"
email-validator = "*"
gunicorn = "*"
alembic = "*"
appdirs = "*"
attrs = "*"
blinker = "*"
certifi = "*"
chardet = "*"
honcho = "*"
idna = "*"
itsdangerous = "*"
jsmin = "*"
jsonpickle = "*"
pipupgrade = "*"
pyparsing = "*"
python-dateutil = "*"
python-editor = "*"
raygun4py = "*"
redis = "*"
requests = "*"
rq = "*"
six = "*"
text-unidecode = "*"
urllib3 = "*"
webassets = "*"
psycopg2-binary = "*"
WTForms = "*"
Flask-Bootstrap = "*"
Flask-Testing = "*"
Flask-DebugToolbar = "*"
Flask-Migrate = "*"
Flask = "*"
Flask-Bcrypt = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Flask-Admin = "*"
Faker = "*"
Flask-Assets = "*"
Flask-Compress = "*"
Flask-Mail = "*"
Flask-RQ = "*"
Flask-Script = "*"
Flask-SSLify = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
click = "*"
importlib-metadata = "*"

[requires]
python_version = "3.7"
