[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-admin = "*"
flask-bcrypt = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
coverage = "*"
email_validator = "*"
flask-debugtoolbar = "*"
flask-testing = "*"
"flake8" = "*"
gunicorn = "*"


[requires]

python_version = "3.7"
