2to3==1.0
aiohttp==3.6.2
alabaster==0.7.12
alembic==1.4.3
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project @ file:///tmp/build/80754af9/anaconda-project_1610472525955/work
appdirs==1.4.4
APScheduler==3.7.0
argh==0.26.2
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828452693/work
arrow==1.2.0
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astroid @ file:///tmp/build/80754af9/astroid_1592495881661/work
astropy @ file:///tmp/build/80754af9/astropy_1606922938720/work
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
Babel @ file:///tmp/build/80754af9/babel_1607110387436/work
backcall==0.2.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1605305165209/work
backports.shutil-get-terminal-size @ file:///tmp/build/80754af9/backports.shutil_get_terminal_size_1608222128777/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
base58==2.0.1
base91==1.0.1
bcrypt==3.2.0
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
binaryornot==0.4.4
bitarray @ file:///tmp/build/80754af9/bitarray_1605065136653/work
bitstring==3.1.7
bizdays==0.3.0
bkcharts==0.2
black==20.8b1
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blinker==1.4
bokeh @ file:///tmp/build/80754af9/bokeh_1603297847301/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.1.1
certifi==2020.12.5
cffi @ file:///tmp/build/80754af9/cffi_1606255099073/work
chardet @ file:///tmp/build/80754af9/chardet_1607706768982/work
ciphey==5.7.0
cipheycore==0.3.1
cipheydists==0.3.32
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
click-spinner==0.1.10
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
commonmark==0.9.1
conda==4.9.2
conda-build==3.21.4
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1603018138503/work
conda-verify==3.4.2
contextlib2==0.6.0.post1
cookiecutter==1.7.3
coverage==5.3
cryptography @ file:///tmp/build/80754af9/cryptography_1607635305226/work
cssselect==1.1.0
cycler==0.10.0
Cython @ file:///tmp/build/80754af9/cython_1605457613176/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1607706933335/work
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
distlib==0.3.1
distributed @ file:///tmp/build/80754af9/distributed_1610822550272/work
dnspython==2.1.0
docopt==0.6.2
docutils==0.16
dominate==2.6.0
ecdsa==0.16.1
email-validator==1.1.3
entrypoints==0.3
esptool==3.0
et-xmlfile==1.0.1
fabric==2.6.0
fake-useragent==0.1.11
fastcache==1.1.0
filelock @ file:///home/linux1/recipes/ci/filelock_1610993975404/work
flake8==3.7.9
Flask==1.1.1
Flask-Babel==2.0.0
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-DebugToolbar==0.11.0
Flask-Login==0.5.0
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
Flask-Table==0.5.0
Flask-Testing==0.7.1
Flask-WTF==0.14.3
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
future==0.18.2
gevent @ file:///tmp/build/80754af9/gevent_1610995761849/work
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2==2.0.8
google-api-core==1.22.2
google-auth==1.22.0
google-cloud-core==1.4.1
google-cloud-datastore==1.13.0
googleapis-common-protos==1.52.0
greenlet @ file:///tmp/build/80754af9/greenlet_1600873995270/work
grpcio==1.32.0
gunicorn==20.1.0
h5py==2.10.0
HeapDict==1.0.1
helium==3.0.5
helpdev==0.7.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
imagecodecs @ file:///tmp/build/80754af9/imagecodecs_1611258163564/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
investpy==1.0
invoke==1.5.0
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1610725412642/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1610481889018/work
iso8601==0.1.13
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///tmp/build/80754af9/jedi_1606932558467/work
jeepney @ file:///tmp/build/80754af9/jeepney_1606148855031/work
Jinja2 @ file:///home/linux1/recipes/ci/jinja2_1610990516718/work
jinja2-time==0.2.0
joblib @ file:///tmp/build/80754af9/joblib_1607970656719/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1606148959479/work
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
keyring @ file:///tmp/build/80754af9/keyring_1609353628028/work
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1604014532738/work
lazy-object-proxy @ file:///tmp/build/80754af9/lazy-object-proxy_1607707315973/work
libarchive-c @ file:///home/linux1/recipes/ci/python-libarchive-c_1610974153025/work
llvmlite==0.34.0
lml==0.0.9
locket==0.2.1
loguru==0.5.3
lxml @ file:///tmp/build/80754af9/lxml_1606516847630/work
Mako==1.1.3
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1603376012865/work
mccabe==0.6.1
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
more-itertools @ file:///tmp/build/80754af9/more-itertools_1605111547926/work
mpmath==1.1.0
msgpack @ file:///tmp/build/80754af9/msgpack-python_1607965762326/work
multidict==4.7.6
multipledispatch==0.6.0
multitasking==0.0.9
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601914821128/work
nbformat @ file:///tmp/build/80754af9/nbformat_1610738111109/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1606153767164/work
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
notebook @ file:///tmp/build/80754af9/notebook_1608835548841/work
ntlm-auth==1.4.0
numba @ file:///tmp/build/80754af9/numba_1600102479638/work
numexpr @ file:///tmp/build/80754af9/numexpr_1609354613445/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603479632437/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1610651698508/work
packaging @ file:///tmp/build/80754af9/packaging_1607971725249/work
paho-mqtt==1.5.1
pandas==1.2.1
pandas-datareader==0.9.0
pandocfilters @ file:///tmp/build/80754af9/pandocfilters_1605120451932/work
paramiko==2.7.2
parse==1.15.0
parso==0.7.0
partd==1.1.0
path @ file:///tmp/build/80754af9/path_1607537225003/work
pathlib2 @ file:///tmp/build/80754af9/pathlib2_1607024979554/work
pathspec==0.8.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///tmp/build/80754af9/pillow_1609786740831/work
pipenv==2020.8.13
pipreqs==0.4.10
pkginfo==1.7.0
pluggy==0.13.1
ply==3.11
poyo==0.5.0
prettytable==0.7.2
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1606344362066/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.13.0
psutil @ file:///tmp/build/80754af9/psutil_1598370249042/work
psycopg2==2.8.5
psycopg2-binary==2.8.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1607971587848/work
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybase62==0.4.3
pycodestyle==2.5.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrypto==2.6.1
pycurl==7.43.0.6
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pyee==7.0.1
pyerfa @ file:///tmp/build/80754af9/pyerfa_1606860189168/work
pyexcel==0.6.4
pyexcel-io==0.5.20
pyexcel-xls==0.5.9
pyflakes==2.1.1
Pygments @ file:///tmp/build/80754af9/pygments_1610565767015/work
pylint @ file:///tmp/build/80754af9/pylint_1598624038450/work
pyls-black @ file:///tmp/build/80754af9/pyls-black_1607553132291/work
pyls-spyder @ file:///tmp/build/80754af9/pyls-spyder_1608134179673/work
pymongo==3.11.3
PyNaCl==1.4.0
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyppeteer==0.0.25
PyQt5==5.12.3
PyQt5-sip==12.8.1
PyQtWebEngine==5.12.1
pyquery==1.4.1
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1600141707582/work
pyserial==3.5
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
pytest==0.0.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1607972495879/work
python-slugify==5.0.2
pytz @ file:///tmp/build/80754af9/pytz_1608922264688/work
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658308664/work
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML==5.4
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
reedsolo==1.5.4
regex @ file:///tmp/build/80754af9/regex_1606772657907/work
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-html==0.10.0
requests-ntlm==1.1.0
rich==7.1.0
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rsa==4.6
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.17.2
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1598376882706/work
scipy @ file:///tmp/build/80754af9/scipy_1597686620742/work
scraperwiki==0.5.1
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
SecretStorage @ file:///tmp/build/80754af9/secretstorage_1606864755624/work
selenium==3.141.0
selenium-wire==1.0.11
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
serial==0.0.97
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
six @ file:///tmp/build/80754af9/six_1605205313296/work
snowballstemmer==2.0.0
sortedcollections @ file:///tmp/build/80754af9/sortedcollections_1611172717284/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1606865132123/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1607965878077/work
Sphinx @ file:///tmp/build/80754af9/sphinx_1610133430332/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder @ file:///tmp/build/80754af9/spyder_1607701234572/work
spyder-kernels @ file:///tmp/build/80754af9/spyder-kernels_1608578800100/work
SQLAlchemy @ file:///tmp/build/80754af9/sqlalchemy_1608243750780/work
statsmodels @ file:///tmp/build/80754af9/statsmodels_1606925351355/work
sympy @ file:///tmp/build/80754af9/sympy_1608137658835/work
tables==3.6.1
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
terminado==0.9.2
testpath==0.4.4
text-unidecode==1.3
texttable==1.6.3
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///tmp/build/80754af9/tifffile_1610739638720/work
tika==1.24
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
tqdm @ file:///tmp/build/80754af9/tqdm_1609788246169/work
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
typed-ast @ file:///tmp/build/80754af9/typed-ast_1610484562261/work
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
typing-inspect==0.6.0
tzlocal==2.1
ujson @ file:///tmp/build/80754af9/ujson_1602523313803/work
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1606938623459/work
virtualenv==20.0.31
virtualenv-clone==0.5.4
visitor==0.1.3
w3lib==1.21.0
watchdog @ file:///tmp/build/80754af9/watchdog_1606939061947/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websockets==8.1
Werkzeug==0.16.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.11.2
WTForms==2.3.3
wurlitzer @ file:///tmp/build/80754af9/wurlitzer_1594751868473/work
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarg==0.1.9
yarl==1.6.0
yaspin==1.0.0
yfinance==0.1.54
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
zope.event==4.5.0
zope.interface @ file:///tmp/build/80754af9/zope.interface_1606940237377/work
