<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Primeiro Teste</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Vacinas da Sua Faixa Etária!</h1>
    
    <table class="content-table">
        <thead>
          <tr>
             <th></th>            
            <th>Vacina</th>
            <th>Prevenção</th>
            <th>Dose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2" style="color: white; background-color: mediumslateblue; font-size: large;">AO NASCER</td>
            <td>BCG</td>
            <td>Previne as formas graves de tuberculose, principalmente miliar e meníngea</td>
            <td>Dose única</td>
          </tr>
          <tr>
            <td>Hepatite B</td>
            <td>Previne a hepatite B</td>
            <td>Dose ao nascer</td>
          </tr>
        </tbody>
      </table>

      <table class="content-table">
        <thead>
          <tr>
             <th></th>            
            <th>Vacina</th>
            <th>Prevenção</th>
            <th>Dose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="4" style="color: white; background-color: mediumslateblue; font-size: large;">2 MESES</td>
            <td>Penta</td>
            <td>Previne difteria, tétano, coqueluche, hepatite B, meningite e infecções por Haemophilius Influenza B</td>
            <td>Primeira Dose</td>
          </tr>
          <tr>
            <td>Vacina Inativa da Poliomielite</td>
            <td>Previne poliomielite (paralisia Infantil)</td>
            <td>Primeira Dose</td>
          </tr>
          <tr>
            <td>Pneumocócica 10 Valente</td>
            <td>Previne pneumonia, otite, meningite e outras doenças causadas pelo pneumococo</td>
            <td>Primeira Dose</td>
          </tr>
          <tr>
            <td>Rotavírus</td>
            <td>Previne diarreia por rotavírus</td>
            <td>Primeira Dose</td>
          </tr>
        </tbody>
    </table>


          <table class="content-table">
            <thead>
              <tr>
                 <th></th>            
                <th>Vacina</th>
                <th>Prevenção</th>
                <th>Dose</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="color: white; background-color: mediumslateblue; font-size: large;">3 MESES</td>
                <td>Meningocóciaca C</td>
                <td>Previne a doença meningocócia C</td>
                <td>Primeira Dose</td>
              </tr>
        </tbody>
      </table>


      <table class="content-table">
        <thead>
          <tr>
             <th></th>            
            <th>Vacina</th>
            <th>Prevenção</th>
            <th>Dose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="4" style="color: white; background-color: mediumslateblue; font-size: large;">4 MESES</td>
            <td>Penta</td>
            <td>Previne difteria, tétano, coqueluche, hepatite B, meningite e infecções por Haemophilius Influenza B</td>
            <td>Segunda Dose</td>
          </tr>
          <tr>
            <td>Vacina Inativa da Poliomielite</td>
            <td>Previne poliomielite (paralisia Infantil)</td>
            <td>Segunda Dose</td>
          </tr>
          <tr>
            <td>Pneumocócica 10 Valente</td>
            <td>Previne pneumonia, otite, meningite e outras doenças causadas pelo pneumococo</td>
            <td>Segunda Dose</td>
          </tr>
          <tr>
            <td>Rotavírus</td>
            <td>Previne diarreia por rotavírus</td>
            <td>Segunda Dose</td>
          </tr>
        </tbody>
    </table>

      <table class="content-table">
            <thead>
              <tr>
                 <th></th>            
                <th>Vacina</th>
                <th>Prevenção</th>
                <th>Dose</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="color: white; background-color: mediumslateblue; font-size: large;">5 MESES</td>
                <td>Meningocóciaca C</td>
                <td>Previne a doença meningocócia C</td>
                <td>Segunda Dose</td>
              </tr>
        </tbody>
      </table>


      <table class="content-table">
        <thead>
          <tr>
             <th></th>            
            <th>Vacina</th>
            <th>Prevenção</th>
            <th>Dose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="3" style="color: white; background-color: mediumslateblue; font-size: large;">6 MESES</td>
            <td>Penta</td>
            <td>Previne difteria, tétano, coqueluche, hepatite B, meningite e infecções por Haemophilius Influenza B</td>
            <td>Terceira Dose</td>
          </tr>
          <tr>
            <td>Vacina Inativa da Poliomielite</td>
            <td>Previne poliomielite (paralisia Infantil)</td>
            <td>Terceira Dose</td>
          </tr>
          <tr>
            <td>Influenza</td>
            <td>Previne a influenza</td>
            <td>Uma dose na campanha anual.<br> As crianças entre 6 meses e menores de 5 anos de idade, primovacinadas (que tomarão a vacina pela primeira vez):<br> administrar 2 (duas) doses, com intervado de 30 dias entre as doses </td>
          </tr>
        </tbody>
    </table>

    <table class="content-table">
        <thead>
          <tr>
             <th></th>            
            <th>Vacina</th>
            <th>Prevenção</th>
            <th>Dose</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color: white; background-color: mediumslateblue; font-size: large;">9 MESES</td>
            <td> Frebre Amarela (Áreas com recomendação para vacinação)</td>
            <td>Previne a febre amarela</td>
            <td>Dose única</td>
          </tr>
    </tbody>
  </table>

  <table class="content-table">
    <thead>
      <tr>
         <th></th>            
        <th>Vacina</th>
        <th>Prevenção</th>
        <th>Dose</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="4" style="color: white; background-color: mediumslateblue; font-size: large;">12 MESES</td>
        <td>Tríplice Viral</td>
        <td>Previne sarampo, caxumba e rubéola</td>
        <td>Primeira Dose</td>
      </tr>
      <tr>
        <td>Pneumocócica 10 Valente</td>
        <td>Previne pneumonia, otite, meningite e outras doenças causadas pelo pneumococo</td>
        <td>Reforço</td>
      </tr>
      <tr>
        <td>Meningocóciaca C</td>
        <td>Previne a doença meningocócia C</td>
        <td>Reforço</td>
      </tr>
    </tbody>
</table>

<table class="content-table">
    <thead>
      <tr>
         <th></th>            
        <th>Vacina</th>
        <th>Prevenção</th>
        <th>Dose</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="4" style="color: white; background-color: mediumslateblue; font-size: large;">15 MESES</td>
        <td>DTP</td>
        <td>Previne difteria, tétano e coqueluche</td>
        <td>Primeiro Reforço</td>
      </tr>
      <tr>
        <td>Vacina Oral Poliomielite</td>
        <td>Previne poliomielite (paralisia Infantil)</td>
        <td>Primeiro Reforço</td>
      </tr>
      <tr>
        <td>Hepatite A</td>
        <td>Previne Hepatite A</td>
        <td>Uma Dose</td>
      </tr>
      <tr>
        <td>Tetra Viral ou Tríplice Viral + Varicela</td>
        <td>Previne sarampo, rubéola, caxumba e varicela/catapora</td>
        <td>Segunda Dose da vacina tríplice viral. Primeira dose da vacina varicela</td>
      </tr>
    </tbody>
</table>

<table class="content-table">
    <thead>
      <tr>
         <th></th>            
        <th>Vacina</th>
        <th>Prevenção</th>
        <th>Dose</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="4" style="color: white; background-color: mediumslateblue; font-size: large;">4 ANOS</td>
        <td>DTP</td>
        <td>Previne difteria, tétano e coqueluche</td>
        <td>Segundo Reforço</td>
      </tr>
      <tr>
        <td>Vacina Oral Poliomielite</td>
        <td>Previne poliomielite (paralisia Infantil)</td>
        <td>Segundo Reforço</td>
      </tr>
      <tr>
        <td>Varicela Ateuada</td>
        <td>Previne Varicela/catapora</td>
        <td>Segunda Dose</td>
      </tr>
    </tbody>
</table>


        

</body>
</html>