<footer class="navbar navbar-light bg-light justify-content-center">
    <p class="small text-center mx-2" >
        <button class="btn btn-warning btn-sm" type="button" data-toggle="collapse" data-target="#avisoImportante" aria-expanded="false" aria-controls="avisoImportante">
           ! Aviso !
        </button>
        </p>
        <div class="collapse small text-center mx-2" id="avisoImportante">
              Os dados inseridos neste site são baseados no calendário de vacinação nacional, como um país com dimensões continentais diversas regiões possuem a obrigatoriedade de vacinas diferentes de maneira estadual e municipal. Asssim, é importante sempre manter o acompanhamento constante junto a sua Unidade Básica de Saúde.
        </div>
</footer>
