<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container">
            <p class="small text-center">
                Os dados inseridos neste site são baseados no calendário de vacina nacional, como um país com dimensões continentais diversas regiões possuem a obrigatoriedade de vacinas diferentes de maneira estadual e municipal. É importante sempre manter o acompanhamento
                constante junto a sua Unidade Básica de Saúde.
            </p>
        </div>
    </nav>
</footer>