{% extends "_base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block content %}

<div class="body-content">
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-lg" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                API info Vacinas
              </button>
            </h2>
          </div> <!--Fechamento do card-header-->
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p>A API Pix Info Vacinas disponibiliza de forma padronizada serviços e funcionalidades oferecidos pelo por este site referentes a consultas a locais de vacinação através de base uniforme que permitem ao usuário desta API realizar integração de suas aplicações ou automações com os serviços oferecidos pela API Info Vacinas.</p>
                <p>Esta implantação faz parte do projeto info Vacinas que tem o objetivo de disponibilizar ao público residente no Brasil uma experiência de consulta a locais de vacinação com maior acurácia do que os existentes hoje em órgãos governamentais e seus canais oficiais</p>
            </div> <!--Fechamento do card-body-->
          </div> <!--Fechamento do Colapse-->
        </div> <!--Fecho do Card-->

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-lg btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Evolução da API Info Vacinas
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p>A API Info Vacinas busca respeitar...</p>
              <p>Atualmente, porém API InfoVacinas consta apenas com a versão inicial disponibilizada ao público, API infoVacinas 1.0</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Tratamento de Erros
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <p>Esta seção reúne erros que poderiam ser retornados por quaisquer endpoints listados na API infoVacinas.</p>
              <h4>Erros Gerais</h4>
              <p>.....</p>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Documentação Swagger da API
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>O swagger com a documentação da API InfoVacinas está disponível em: <a href="{{ url_for('api.doc') }}" target="_blank">API</a></p>
              
            </div> <!--Fechamento do Colapse-->
          </div> <!--Fechamento do Card Header-->
      </div> <!--Fechammento Card-->

        
              
    </div> <!--Fechamento do accordion-->
</div> <!--Fechamento do body-content-->

{% endblock %}
