{% extends "_base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block content %}

<section>
  <h2>Sobre esta API</h2>
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-lg" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                API info Vacinas
              </button>
            </h2>
          </div> <!--Fechamento do card-header-->
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p>A API Info Vacinas disponibiliza de forma padronizada serviços e funcionalidades oferecidos por este site referentes a consultas de locais de vacinação através de base uniforme que permitem ao usuário desta API realizar integração de suas aplicações ou automações com os serviços oferecidos pela API Info Vacinas.</p>
                <p>Esta implantação faz parte do projeto info Vacinas que tem o objetivo de disponibilizar ao público residente no Brasil uma experiência de consulta a locais de vacinação com maior acurácia do que os existentes hoje em órgãos governamentais e seus canais oficiais.</p>
                <p>Esta API foi construída a partir de conteúdo gratuito e tem fins didáticos e informacionais, não tendo fins lucrativos.</p>
                <p>A base de dados disponibilizada por esta API foi construída a partir de cruzamento de bases oficiais do Governo Federal do Brasil (Gov.br) e transformada a partir do cruzamento de bases de geolocalização.</p>
            </div> <!--Fechamento do card-body-->
          </div> <!--Fechamento do Colapse-->
        </div> <!--Fecho do Card-->

        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-lg collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Evolução da API Info Vacinas
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p>Atualmente a API InfoVacinas consta apenas com a versão inicial disponibilizada ao público, API infoVacinas 1.0</p>

              <p>O versionamento de implementações respeitarão a <a href="https://semver.org/lang/pt-BR/" target="_blank">Especificação de Versionamento Semântico (semVer)</a></p>
             
              <p>Para versões futuras, as seguintes mudanças são esperadas e consideradas compatíveis:</p>

              <ul>
                <li>Adição de novos recursos;</li>
                <li>Adição de novos parâmetros opcionais a requisições a consultas existentes;</li>
                <li>Adição de novos campos em respostas da API;</li>
                <li>Alteração da ordem de campos;</li>
                <li>Adição de novos elementos em enumerações.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-lg collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Tratamento de Erros
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <p>Esta seção reúne erros que poderiam ser retornados por quaisquer endpoints listados na API infoVacinas.</p>
              <p>A API infoVacinas retorna códigos de status HTTP a cada requisição indicando o sucesso ou as falhas. Dessa forma de maneira geral considere os seguintes códigos:</p>

                <ul>
                  <li>Códigos da série 200 a 2Xx equivalem sucesso na requisição;</li>
                  <li>Códigos da série 400 a 4Xx indicam falhas causadas pelas informações enviadas pelo cliente ou pelo estado atual das entidades;</li> 
                  <li>Códigos da série 500 a 5xx indicam problemas no serviço no lado da API infoVacinas, podendo ser problemas temporários por indisponibilidades dos serviços de implementação utilizados.</li>
                </ul>
              
              <h4>Erros Gerais</h4>
              <h6>Envio de Dados corretamente e resultados divergentes.</h6>
              <p>Nas transformações prepatratórias para formação desta base de dados, nas APIs consultadas de geolocalização retornou XXX resultados não encontrados no total de XXXXXX. Assim é possível que o pedido de consulta a API possam estar um destes resultados.</p>
              <p>Parte dos dados das Unidades de Saúde obtidos junto a Gov.br não possuiam endereço completo, assim foram utilizadas estratégias para obter localização aproximada como uso de CEP e não a coordenada geográfica exata que seria possivel pelo logradouro mais númeração do local.</p>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link btn-lg collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Documentação Swagger da API
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <p>O swagger com a documentação da API InfoVacinas está disponível em: <a href="{{ url_for('api.doc') }}" target="_blank">API</a></p>
              
            </div> <!--Fechamento do Colapse-->
          </div> <!--Fechamento do Card Header-->
      </div> <!--Fechammento Card-->

        
              
    </div> <!--Fechamento do accordion-->
</section> <!--Fechamento do body-content-->

{% endblock %}
