{% extends "_base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block content %}


<h2>Sobre</h2>
Este projeto, infoVacinas, constitui-se atualmente de três grandes entregas para atendimento as disciplinas de Projetos Integradores (I, II e III) do Eixo de Computação da Univesp, constituído dos cursos de Bacharelado em: Ciência de Dados, Engenharia da Computação e Tecnologia de Informação. Abaixo desbobramos as etapas do InfoVacinas.
<hr>
<hr>
<h4>Projeto integrador I</h4>
<p><b>Orientadora:</b> Gláucia Uesugi </p>
<p> <b>Integrantes:</b> Duarte, Lucas, Ricardo, Suzana e Walmir.</p>
<p>Trabalho apresentado para disciplina Projeto Integrador I no segundo semestre de 2021. Aplicação Web com objetivo primário de exibir calendário de vacinação de acordo com faixa etária.</p>
<p><b>Resumo em vídeo:</b></p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DWlD5glhdj4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<br>
<h4>Projeto integrador II</h4>
<p>Projeto desenvolvido para a disciplina Protejo Integrador II, consiste em acrescentar funcionalidades, realizar correções, adaptações de responsividade, e adaptar usaabilidade para navegadores web de dispositivos móveis etc.</p>
<p><b>Integrantes:</b>os mesmos membros do Projeto Integrador I.</p>
<p><b>Orientador:</p> Reinaldo Lucas dos Santos Rosa</p>

<p><b>Resumo em vídeo:</b></p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2hIhs2myrq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>
<br>
<h4>Projeto integrador III</h4>
<p>Projeto desenvolvido para a disciplina Protejo Integrador III, consiste em acrescentar funcionalidades, realizar correções, adaptações de responsividade, etc.</p>
<p><b>Integrantes:</b>Alex, André, Jean, Luíz, Rodrigo, Suzana, Valdiney e Walmir</p>
<p><b>Orientadora:</b> Ana Paula de Aquino Caixeta</p>

<p><b>Resumo em vídeo:</b></p>
<div class="embed-responsive embed-responsive-16by9">
    <!-- adicionar iframe com link do vídeo -->
</div>


<br>
<br>
<a href="https://univesp.br/" target="_blank"> <img src="{{url_for('static', filename='img/univesp.png')}}" width="68" height="24"></a>
{% endblock %}
