{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="body-content">
  <div>
    <h1>Sobre</h1>
    <hr><br>
    <p>Este site foi elaborado para atendimento a disciplina Projeto Integrador I da Univesp.</p>
  <p> Pelos alunos do Eixo Computação (Bacharelado em: Ciência de Dados, Engenharia da Computação e Técnologia da Informação):  
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Duarte</li>
      <li class="list-group-item">Lucas</li>
      <li class="list-group-item">Ricardo</li> 
      <li class="list-group-item">Rodrigo</li>
      <li class="list-group-item">Suzana</li>
      <li class="list-group-item">Walmir</li>
    </ul></p>
  <p> Orientadora: Gláucia Uesugi </p>

  <a href="https://univesp.br/" target="_blank"> <img src="{{url_for('static', filename='img/univesp.png')}}" width="68" height="24"></a>
    </p>
  </div>
</div>

{% endblock %}