{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="body-content">
  <div>
    <h2>Sobre</h2>
    <hr>
    <p>Este site foi elaborado para atendimento a disciplina Projeto Integrador I dos cursos do Eixo Computação (Bacharelado em: Ciência de Dados, Engenharia da Computação e Tecnologia da Informação) da Univesp.
    </p>br>Fazem parte deste projeto os alunos: 
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Duarte</li>
      <li class="list-group-item">Lucas</li>
      <li class="list-group-item">Ricardo</li> 
      <li class="list-group-item">Rodrigo</li>
      <li class="list-group-item">Suzana</li>
      <li class="list-group-item">Walmir</li>
    </ul>
   <p>Orientadora: Gláucia Uesugi </p>

  <a href="https://univesp.br/" target="_blank"> <img src="{{url_for('static', filename='img/univesp.png')}}" width="68" height="24"></a>
    </p>
  </div>
</div>

{% endblock %}