{% extends '_base.html' %} {% import "bootstrap/wtf.html" as wtf %} {% block content %}

<link href="{{url_for('static', filename='floating-labels.css')}}" rel="stylesheet" media="screen">

<section class="jumbotron text-center" style="margin-bottom: 0px; padding-bottom: 0px; padding-top:0px;">
    <div class="container">

        <img class="mb-4" src="{{url_for('static', filename='img/icone_vacina_2.png')}}" width="330" height="85">

        <h2 class="jumbotron-heading">Consulta Unidades Básicas de Saúde - Por endereço</h2>
        <p class="lead text-muted">
            Consulte as UBS's próxima através do formulário abaixo
        </p>
        <form class="form-signin" role="form" method="GET" action="{{ url_for('main.ubs_lista') }}">
            <div class="form-group ">
                <label class="control-label" for="uf">UF</label>
                <select class="form-control select2" id="uf" name="uf">
                </select>
            </div>

            <div class="form-group ">
                <label class="control-label" for="municipio">Município</label>
                <select class="form-control select2" id="municipio" name="municipio">
                </select>
            </div>

            <div class="form-group ">
                <label class="control-label" for="bairro">Bairro</label>
                <select class="form-control select2" id="bairro" name="bairro">
                </select>
            </div>

            <p></p>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Consultar</button>

        </form>
    </div>
</section>

<script>
    $(function() {


        var url_uf = "https://info-vacinas.herokuapp.com/ubs_uf";

        fetch(url_uf)
            .then((response) => {
                return response.json()
            })
            .then((data) => {
                $('#uf').append('<option value="">Selecione</option>');
                // Work with JSON data here
                for (var index = 0; index <= data.result.length; index++) {
                    console.log(data.result[index])
                    $('#uf').append('<option value="' + data.result[index].UF + '">' + data.result[index].UF + '</option>');
                }
            })
            .catch((err) => {
                console.log(err)
            })


        $('#uf').on('change', function() {
            console.log('selecionei elemento uf')
            var uf = $('#uf').val()
                // pega a UF, chamar a url q retonar as cidades e carregar o select das cidades
            var url_uf = "https://info-vacinas.herokuapp.com/ubs_cidades?uf=" + uf;

            // limpa os elementos de municipios antes de carregar os dados
            $("#municipio").empty();

            $('#municipio').append('<option value="">Selecione</option>');

            fetch(url_uf)
                .then((response) => {
                    return response.json()
                })
                .then((data) => {
                    // Work with JSON data here
                    for (var index = 0; index <= data.result.length; index++) {
                        console.log(data.result[index])
                        $('#municipio').append('<option value="' + data.result[index].MUNICIPIO + '">' + data.result[index].MUNICIPIO + '</option>');
                    }
                })
                .catch((err) => {
                    console.log(err)
                })
        });

        $('#municipio').on('change', function() {
            console.log('selecionei elemento municipio')
            var uf = $('#uf').val()
            var municipio = $('#municipio').val()
                // limpa os elementos de municipios antes de carregar os dados
            $("#bairro").empty();

            var url_uf = "https://info-vacinas.herokuapp.com/ubs_bairros?uf=" + uf + "&municipio=" + municipio;

            $('#bairro').append('<option value="Todos">Todos</option>');

            fetch(url_uf)
                .then((response) => {
                    return response.json()
                })
                .then((data) => {
                    // Work with JSON data here
                    for (var index = 0; index <= data.result.length; index++) {
                        console.log(data.result[index])
                        $('#bairro').append('<option value="' + data.result[index].BAIRRO + '">' + data.result[index].BAIRRO + '</option>');
                    }
                })
                .catch((err) => {
                    console.log(err)
                })

        });

        $('#bairro').on('change', function() {
            console.log('selecionei elemento bairro')
            $('#bairro').val()
        });


    });
</script>

{% endblock %}