/* custom css */

.site-content {
    padding-top: 6rem;
}

.body-content {
    padding-top: 6rem;
}

.calendario-pagina-faixa-etaria {
    padding-top: 450px;
}

.calendario-adolescentes {
    padding-top: 450px;
}

.calendario-adultos {}

.calendario-criancas {
    padding-top: 100px;
}

.calendario-idosos {
    padding-top: 150px;
}

.calendario-gestantes {}